@model IEnumerable<Warmur.Models.IndicatorLead>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Your Model List</title>
</head>
<body>
    <h1>Your Model List</h1>
    
</body>
</html>
